* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 10px;
}

html {
  background-color: whitesmoke;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.light {
  color: #1c2022;
  background: whitesmoke;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
