@import url("https://fonts.googleapis.com/css?family=Lora|Nunito|Roboto&display=swap");
/* font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Nunito', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 10px;
}

h1 {
  font-family: "Lora", serif;
  font-size: 5rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 150px;
  min-height: 100vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.landing-content {
  height: 300px;
}

.landing-intro {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
}

html {
  background-color: whitesmoke;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.light {
  color: #1c2022;
  background: whitesmoke;
  min-height: 100%;
}

.btn-clear {
  border: none;
  background: transparent;
}

.card {
  margin: 10px 0;
  width: 250px;
  padding: 20px;
  margin-top: 100px;
  height: 400px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bg-dark {
  background: rgb(36, 40, 42);
  border-radius: 3px;
}

.bg-light {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
